{% extends 'index.html' %}
{% block content %}
    <div class=" bg-secondary rounded align-items-center justify-content-center mx-0">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">View Assests</h6>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Employee Name</th>
                        <th scope="col">System Type</th>
                        <th scope="col">Other Accessories</th>
                        <th scope="col">Given Date</th>
                        <th scope="col">Return Date</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for i in ass %}
                            <tr>
                            <td>{{ i.empls }}</td>
                            <td>{{ i.systy }}</td>
                            <td>{{ i.otls }}</td>
                            <td>{{ i.gdt }}</td>
                            <td>{{ i.rdt }}</td>
                                <td><a href="{% url 'addass' id=i.id %}" ><button type="button" class="btn btn-sm btn-outline-primary  pt-sm-0" style="float: right"> Add Extra Accessories</button></a></td>
                            <td><a href="{% url 'viewreass' id=i.id %}" ><button type="button" class="btn btn-sm btn-outline-primary  pt-sm-0" style="float: right"> View Extra Accessories</button></a></td>
                            <td><a href="{% url 'viewreturn' id=i.id %}" ><button type="button" class="btn btn-sm  btn-outline-primary pt-sm-0" style="float: right">Return</button></a></td>
                            <td><a href="#" ><button type="button" class="btn btn-sm btn-outline-warning pt-sm-0" style="float: right"><i class="fa fa-window-close"></i></button></a></td>
                            </tr>
                        </tbody>
                    {% empty %}
                    <tbody>
                            <tr>
                                <td>NO DATA LIST</td>
                            </tr>
                        </tbody>
                    {% endfor %}
            </table>
        </div>
    </div>
    </div>

{% endblock %}